<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <h1><%=title %></h1>
   
<p>
    <%- include('nav') %>
</p>

    <a href="/">Home</a>
 <a href="/about">About</a>
  <a href="/">Home</a>
 <a href="/about">About</a>


 

  <p><% for (var i = 0; i < 10; i++) { %>
      <li class="nav-icon">
        <a href="" class="nav-link">
          <%= 10 %>
          <span class="link-text"><%= 10 %></span>
        </a>
      </li>
    <% } %></p>


    <script>
           const links = [
        {
          href: '/',
          icon: '<svg>...</svg>',
          text: 'Home'
        },
        {
          href: 'collection',
          icon: '<svg>...</svg>',
          text: 'Collection'
        },
        {
          href: 'live',
          icon: '<svg>...</svg>',
          text: 'Live'
        }
      ];
    </script>
  
</body>
</html>