<!-- navbar.ejs -->
 <script >
    
 </script>
<nav class="navbar">
  <ul class="navbar-blocks">
<!-- navbar.ejs -->
<nav class="navbar">
  <ul class="navbar-blocks">
    <% for (var i = 0; i < links.length; i++) { %>
      <li class="nav-icon">
        <a href="/users/<%=links[i].id %>" class="nav-link">
         <%= links[i].id %> 
        </a>
         
          <span class="link-text"><%= links[i].name %></span>
           <span class="link-text"><%= links[i].email %></span>
      </li>
    <% } %>
  </ul>
</nav>
  </ul>
</nav>

